<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mohit.varma.apnimandi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/market"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activitites.MyOrdersActivity"></activity>
        <activity android:name=".activitites.AddAddressActivity" />
        <activity android:name=".activitites.CheckoutActivity" />
        <activity android:name=".activitites.ItemDescriptionActivity" />
        <activity android:name=".activitites.FootBiteActivity" />
        <activity android:name=".activitites.BakingActivity" />
        <activity android:name=".activitites.SnacksActivity" />
        <activity android:name=".activitites.ProteinActivity" />
        <activity android:name=".activitites.VegetablesActivity" />
        <activity android:name=".activitites.FruitsActivity" />
        <activity
            android:name=".activitites.AddToCartActivity"
            android:parentActivityName=".activitites.FootBiteActivity" />
        <activity android:name=".activitites.WelcomeActivity" />
        <activity android:name=".activitites.ChooseLanguageActivity" />
        <activity android:name=".activitites.RegistrationActivity" />
        <activity android:name=".activitites.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>